.sLBox {
    margin-right: 8px;
}

canvas:hover {
    cursor: pointer;
}

// Color Cursor
.colorCursor {
    height: 16px;
    width: 16px;
    border: 3px solid white;
    border-radius: 100%;
    position: absolute;
}

.hueCursor {
    left: 314px;
}