.sLBox {
    margin-right: 8px;
}

.colorCursor {
    height: 16px;
    width: 16px;
    border: 2px solid white;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 315px;
}

canvas:hover {
    cursor: crosshair;
}