@import 'src/styles/canvas';

// ColorPicker
.colorPickerCenter {
    display: flex;
    justify-content: center;
}

// Color Cursor
.colorCursor {
    height: 21px;
    width: 21px;
    border: 3px solid white;
    border-radius: 100%;
    position: absolute;
}

.colorCursor:hover {
    cursor: pointer;
}

// SVColorBox
@mixin sV {
    @include canvasHeight;
    @include canvasColorWidth;
}

@mixin sVBox {
    @include sV;
    position: absolute;

}

.sVContainer {
    @include sV;
    display: inline-block;
    margin-right: 16px;
    border: 1px solid rgb(230, 230, 230)
}

.sVContainer:hover {
    cursor: pointer;
}

.sVHueBox {
    @include sVBox;
}

.sVWhiteGradientBox {
    @include sVBox;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
}

.sVBlackGradientBox {
    @include sVBox;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
}

// Hue Strip
@mixin hue {
    @include canvasHeight;
    width: 17px;
}

.hueStripContainer {
    @include hue;
    display: inline-block;
}

.hueStripContainer:hover {
    cursor: pointer;
}

.hueStrip {
    @include hue;
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        red,
        #ff8000,
        yellow,
        #80ff00,
        lime,
        #00ff80,
        cyan,
        #0080ff,
        blue,
        #8000ff,
        magenta,
        #ff0080,
        red
    )
}

// Color Display
.colorDisplay {
    @include canvasHeight;
    width: 100px;
    display: inline-block;
    margin-right: 16px;
}